@import '../node_modules/bootstrap/scss/bootstrap-grid.scss';


@media only screen and (min-width: 576px) {
    .main {
        height: 100vh;
    }
}

.welcome {
    background-color: #585858;
}

:focus {
    outline: none;
}